*{
    background-image: linear-gradient(to right bottom, #6429c2, #5047d2, #3a5ede, #2272e6, #1284eb);
    background-repeat: no-repeat;
    background-position: center center;
}
* * {
    background-image: none;
    margin: 0px;
}
body{
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: black;
    font-size: 72px;
}
cite{
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}